@charset "UTF-8";
/* CSS Document */


a { color: #666; text-decoration: underline; }

h1,h2,h3,h4{ margin:5px; }
h1 { color: #778fbd; font-size: 60px; font-family: "Lucida Grande", Arial, sans-serif; text-align: center; letter-spacing: -1px; font-weight: 500; }
h2 { color: #778fbd; font-size: 48px; font-family: "Lucida Grande", Arial, sans-serif; }
h3 { color: #666; font-size: 30px; font-family: "Lucida Grande", Arial, sans-serif; }
h4 { font-weight: bold; text-align: center; }




.containment{
	width:860px;
	margin:auto;
}

.wrapper{
	background:#FDFDFD;
	border:#CCC solid 1px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.content{
	margin-top:10px;
	padding:40px 10px 10px 10px;
	min-height:300px;
	border-top:#CCC solid 1px;
}

.footer{
	margin:0;
	margin-bottom:50px;
	padding:10px;
	height:50px;
	color:#CCC;
	background:#666;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top:#666 solid 1px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.spaceheader{
	margin:60px auto auto auto;
}